MH_API_BIND_ADDR={{ mailhog_listen_address }}:{{ mailhog_http_port }}
MH_UI_BIND_ADDR={{ mailhog_listen_address }}:{{ mailhog_http_port }}
MH_SMTP_BIND_ADDR={{ mailhog_listen_address }}:{{ mailhog_smtp_port }}
MH_STORAGE={{ mailhog_storage }}
{% if mailhog_storage == 'maildir' %}MH_MAILDIR_PATH={{ mailhog_maildir_path }}{% endif %}
{% if mailhog_storage == 'mongodb' %}MH_MONGO_URI={{ mailhog_mongo_host }}:{{ mailhog_mongo_port }}
MH_MONGO_DB={{ mailhog_mongo_db }}
MH_MONGO_COLLECTION={{ mailhog_mongo_collection }}{% endif %}
